<aside class="admin-sidebar">
  <div class="admin-sidebar-brand">
    <!-- begin sidebar branding-->
    <!-- end sidebar branding-->
    <div class="ml-auto">
      <!-- sidebar pin-->
      <a href="#" class="admin-pin-sidebar btn-ghost btn btn-rounded-circle"></a>
      <!-- sidebar close for mobile device-->
      <a href="#" class="admin-close-sidebar"></a>
    </div>
  </div>
  <div class="scroll-wrapper admin-sidebar-wrapper js-scrollbar" style="position: relative;"><div class="admin-sidebar-wrapper js-scrollbar scroll-content scroll-scrolly_visible" style="height: auto; margin-bottom: 0px; margin-right: 0px; max-height: 943px;">
    <ul class="menu">
      <li class="menu-item active ">
        <a href="#" class="open-dropdown menu-link">
          <span class="menu-label">
            <span class="menu-name">Dashboard
              <span class="menu-arrow"></span>
            </span>

          </span>
          <span class="menu-icon">
            <i class="icon-placeholder fe fe-activity "></i>
          </span>
        </a>
        <!--submenu-->
        <ul class="sub-menu">

          <li class="menu-item ">
            <a href="/light/" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Dashboard 1</span>
              </span>
              <span class="menu-icon">
                <i class="icon-placeholder  fe fe-zap ">

                </i>
              </span>
            </a>
          </li>
          <li class="menu-item">
            <a href="/light/dashboard-02" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Dashboard 2</span>
              </span>
              <span class="menu-icon">
                <i class="icon-placeholder fe fe-edit-2 ">

                </i>
              </span>
            </a>
          </li>
          <li class="menu-item">
            <a href="/light/dashboard-03" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Dashboard 3</span>
              </span>
              <span class="menu-icon">
                <i class="icon-placeholder  fe fe-compass">

                </i>
              </span>
            </a>
          </li>
          <li class="menu-item">
            <a href="/light/dashboard-04" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Dashboard 4</span>
              </span>
              <span class="menu-icon">
                <i class="icon-placeholder  fe fe-shopping-cart">

                </i>
              </span>
            </a>
          </li>

        </ul>
      </li>
      <li class="menu-item ">
        <a href="#" class="open-dropdown menu-link">
          <span class="menu-label">
            <span class="menu-name">Forms
              <span class="menu-arrow"></span>
            </span>

          </span>
          <span class="menu-icon">
            <i class="icon-placeholder fe fe-edit "></i>
          </span>
        </a>
        <!--submenu-->
        <ul class="sub-menu">

          <li class="menu-item">
            <a href="/light/forms" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Basic
                </span>
              </span>
              <span class="menu-icon">

                <i class="icon-placeholder mdi mdi-checkbook "></i>
              </span>
            </a>
          </li>
          <li class="menu-item">
            <a href="/light/forms-custom" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Custom Controls
                </span>
              </span>
              <span class="menu-icon">

                <i class="icon-placeholder mdi mdi-checkbox-multiple-marked-circle "></i>
              </span>
            </a>
          </li>
          <li class="menu-item">
            <a href="/light/forms-advance" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Advance
                </span>
              </span>
              <span class="menu-icon">

                <i class="icon-placeholder mdi mdi-calendar-edit "></i>
              </span>
            </a>
          </li>
          <li class="menu-item">
            <a href="/light/forms-wizard" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Wizard
                </span>
              </span>
              <span class="menu-icon">

                <i class="icon-placeholder mdi mdi-step-forward  "></i>
              </span>
            </a>
          </li>


        </ul>
      </li>
      <li class="menu-item ">
        <a href="#" class="open-dropdown menu-link">
          <span class="menu-label">
            <span class="menu-name">UI Elements
              <span class="menu-arrow"></span>
            </span>

          </span>
          <span class="menu-icon">
            <i class="icon-placeholder fe fe-zap "></i>
          </span>
        </a>
        <!--submenu-->
        <ul class="sub-menu">
          <li class="menu-item">
            <a href="/light/alerts" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Alerts </span>
              </span>
              <span class="menu-icon">
                <i class="icon-placeholder   ">
                  A
                </i>
              </span>
            </a>

          </li>
          <li class="menu-item">
            <a href="/light/avatar" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Avatar </span>
              </span>
              <span class="menu-icon">
                <i class="icon-placeholder   ">
                  A
                </i>
              </span>
            </a>

          </li>
          <li class="menu-item">
            <a href="/light/buttons" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Buttons </span>
              </span>
              <span class="menu-icon">
                <i class="icon-placeholder   ">
                  B
                </i>
              </span>
            </a>

          </li>
          <li class="menu-item  ">
            <a href="/light/cards" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Cards
                </span>
              </span>
              <span class="menu-icon">

                <i class="icon-placeholder mdi mdi-cards-outline  "></i>
              </span>
            </a>
          </li>

          <li class="menu-item">
            <a href="/light/icons" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Icons
                </span>
              </span>
              <span class="menu-icon">

                <i class="icon-placeholder mdi mdi-alien "></i>
              </span>
            </a>
          </li>
          <li class="menu-item">
            <a href="/light/modal" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Modals </span>
              </span>
              <span class="menu-icon">
                <i class="icon-placeholder   ">
                  M
                </i>
              </span>
            </a>

          </li>
          <li class="menu-item">
            <a href="/light/notification" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Notification </span>
              </span>
              <span class="menu-icon">
                <i class="icon-placeholder   ">
                  N
                </i>
              </span>
            </a>

          </li>
          <li class="menu-item">
            <a href="/light/typography" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Typography </span>
              </span>
              <span class="menu-icon">
                <i class="icon-placeholder   ">
                  T
                </i>
              </span>
            </a>

          </li>
          <li class="menu-item">
            <a href="/light/tabs" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Tabs  </span>
              </span>
              <span class="menu-icon">
                <i class="icon-placeholder   ">
                  T
                </i>
              </span>
            </a>

          </li>
          <li class="menu-item">
            <a href="/light/sweetalert" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Sweet Alert  </span>
              </span>
              <span class="menu-icon">
                <i class="icon-placeholder   ">
                  S
                </i>
              </span>
            </a>

          </li>
          <li class="menu-item">
            <a href="/light/accordian" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Accordian  </span>
              </span>
              <span class="menu-icon">
                <i class="icon-placeholder   ">
                  A
                </i>
              </span>
            </a>

          </li>
          <li class="menu-item">
            <a href="/light/tooltip" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Tooltips </span>
              </span>
              <span class="menu-icon">
                <i class="icon-placeholder   ">
                  T
                </i>
              </span>
            </a>

          </li>
          <li class="menu-item">
            <a href="/light/color" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Colors
                </span>
              </span>
              <span class="menu-icon">

                <i class="icon-placeholder mdi mdi-format-color-fill "></i>
              </span>
            </a>
          </li>
          <li class="menu-item">
            <a href="/light/spinners" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Spinners </span>
              </span>
              <span class="menu-icon">
                <i class="icon-placeholder mdi mdi-loading mdi-spin"></i>

              </span>
            </a>

          </li>
          <li class="menu-item">
            <a href="/light/blockui" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Block UI
                </span>
              </span>
              <span class="menu-icon">
                <i class="icon-placeholder   ">
                  B
                </i>
              </span>
            </a>
          </li>
          <li class="menu-item">
            <a href="/light/jstree" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Js Tree
                </span>
              </span>
              <span class="menu-icon">
                <i class="icon-placeholder   ">
                  T
                </i>
              </span>
            </a>
          </li>
          <li class="menu-item">
            <a href="/light/wireframe" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Wireframe </span>
              </span>
              <span class="menu-icon">
                <i class="icon-placeholder   ">
                  W
                </i>
              </span>
            </a>

          </li>
        </ul>
      </li>
      <li class="menu-item ">
        <a href="#" class="open-dropdown menu-link">
          <span class="menu-label">
            <span class="menu-name">Widgets
              <span class="menu-arrow"></span>
            </span>
            <span class="menu-info"> 👌 New Widgets  </span>
          </span>
          <span class="menu-icon">
            <i class="icon-placeholder fe fe-toggle-left"></i>
          </span>
        </a>
        <!--submenu-->
        <ul class="sub-menu">

          <li class="menu-item">
            <a href="/light/widget-01" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Widget 01
                </span>
              </span>
              <span class="menu-icon">

                <i class="icon-placeholder mdi mdi-webpack "></i>
              </span>
            </a>
          </li>
          <li class="menu-item">
            <a href="/light/widget-02" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Widget 02
                </span>
              </span>
              <span class="menu-icon">

                <i class="icon-placeholder mdi mdi-webpack"></i>
              </span>
            </a>
          </li>


        </ul>
      </li>
      <li class="menu-item ">
        <a href="#" class="open-dropdown menu-link">
          <span class="menu-label">
            <span class="menu-name">Apps
              ⚡
              <span class="menu-arrow"></span>
            </span>
          </span>
          <span class="menu-icon">
            <i class="icon-placeholder fe fe-aperture "></i>
          </span>
        </a>
        <!--submenu-->
        <ul class="sub-menu">
          <li class="menu-item">
            <a href="/light/kanban" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Kanban
                </span>
              </span>
              <span class="menu-icon">

                <i class="icon-placeholder fe fe-watch"></i>
              </span>
            </a>
          </li>
          <li class="menu-item ">
            <a href="/light/chat" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Chat
                </span>
              </span>
              <span class="menu-icon">

                <i class="icon-placeholder fe fe-message-square"></i>
              </span>
            </a>
          </li>
          <li class="menu-item">
            <a href="/light/mail" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Mail
                </span>
              </span>
              <span class="menu-icon">

                <i class="icon-placeholder fe fe-mail "></i>
              </span>
            </a>
          </li>
          <li class="menu-item">
            <a href="/light/guide" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Guides
                </span>
              </span>
              <span class="menu-icon">

                <i class="icon-placeholder fe fe-book "></i>
              </span>
            </a>
          </li>
          <li class="menu-item">
            <a href="/light/todo" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Todo
                </span>
              </span>
              <span class="menu-icon">

                <i class="icon-placeholder fe fe-list "></i>
              </span>
            </a>
          </li>
        </ul>
      </li>
      <li class="menu-item ">
        <a href="#" class="open-dropdown menu-link">
          <span class="menu-label">
            <span class="menu-name">Pages
              <span class="menu-arrow"></span>
            </span>
            <span class="menu-info">Extra Pages</span>
          </span>
          <span class="menu-icon">
            <i class="icon-placeholder fe fe-folder-plus "></i>
          </span>
        </a>
        <!--submenu-->
        <ul class="sub-menu">
          <li class="menu-item">
            <a href="/light/profile" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Profile </span>
              </span>
              <span class="menu-icon">
                <i class="icon-placeholder  ">
                  P
                </i>
              </span>
            </a>
          </li>
          <li class="menu-item">
            <a href="/light/timeline" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Timeline </span>
              </span>
              <span class="menu-icon">
                <i class="icon-placeholder  ">
                  T
                </i>
              </span>
            </a>
          </li>
          <li class="menu-item">
            <a href="/light/contacts" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Contacts </span>
              </span>
              <span class="menu-icon">
                <i class="icon-placeholder  ">
                  C
                </i>
              </span>
            </a>
          </li>
          <li class="menu-item">
            <a href="/light/login" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Login </span>
              </span>
              <span class="menu-icon">
                <i class="icon-placeholder  ">
                  L
                </i>
              </span>
            </a>
          </li>
          <li class="menu-item">
            <a href="/light/signup" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Sign Up </span>
              </span>
              <span class="menu-icon">
                <i class="icon-placeholder  ">
                  S
                </i>
              </span>
            </a>
          </li>
          <li class="menu-item">
            <a href="/light/reset" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Reset Password </span>
              </span>
              <span class="menu-icon">
                <i class="icon-placeholder  ">
                  R
                </i>
              </span>
            </a>
          </li>
          <li class="menu-item">
            <a href="/light/logout" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Logout </span>
              </span>
              <span class="menu-icon">
                <i class="icon-placeholder  ">
                  L
                </i>
              </span>
            </a>
          </li>
          <li class="menu-item">
            <a href="/light/setting" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Settings </span>
              </span>
              <span class="menu-icon">
                <i class="icon-placeholder  ">
                  <i class="icon  mdi mdi-settings"></i>
                </i>
              </span>
            </a>
          </li>
          <li class="menu-item">
            <a href="/light/status" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Status Page </span>
              </span>
              <span class="menu-icon">
                <i class="icon-placeholder  ">
                  S
                </i>
              </span>
            </a>
          </li>



        </ul>
      </li>




      <li class="menu-item ">
        <a href="#" class="open-dropdown menu-link">
          <span class="menu-label">
            <span class="menu-name">Charts
              <span class="menu-arrow"></span>
            </span>

          </span>
          <span class="menu-icon">
            <i class="icon-placeholder fe fe-bar-chart-2 "></i>
          </span>
        </a>
        <!--submenu-->
        <ul class="sub-menu">

          <li class="menu-item">
            <a href="/light/apexchart" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Apex Charts
                </span>
              </span>
              <span class="menu-icon">

                <i class="icon-placeholder mdi mdi-chart-gantt "></i>
              </span>
            </a>
          </li>
          <li class="menu-item">
            <a href="/light/chartjs" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Chartsjs
                </span>
              </span>
              <span class="menu-icon">

                <i class="icon-placeholder mdi mdi-chart-bar "></i>
              </span>
            </a>
          </li>
          <li class="menu-item">
            <a href="/light/googlechart" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Google Charts
                </span>
              </span>
              <span class="menu-icon">
                <i class="icon-placeholder mdi mdi-google "></i>
              </span>
            </a>
          </li>
          <li class="menu-item">
            <a href="/light/chartist" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Chartist
                </span>
              </span>

              <span class="menu-icon">
                <i class="icon-placeholder  ">
                  <i class="icon-placeholder mdi mdi-chart-arc "></i>
                </i>
              </span>
            </a>
          </li>


        </ul>
      </li>


      <li class="menu-item ">
        <a href="#" class="open-dropdown menu-link">
          <span class="menu-label">
            <span class="menu-name">Tables
              <span class="menu-arrow"></span>

            </span>

          </span>
          <span class="menu-icon">
            <i class="icon-placeholder fe fe-database"></i>
          </span>
        </a>
        <!--submenu-->
        <ul class="sub-menu">
          <li class="menu-item">
            <a href="/light/table" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Table
                </span>
              </span>
              <span class="menu-icon">

                <i class="icon-placeholder mdi mdi-format-list-bulleted "></i>
              </span>
            </a>
          </li>
          <li class="menu-item">
            <a href="#" class="open-dropdown menu-link">
              <span class="menu-label">
                <span class="menu-name">Datatable
                  <span class="menu-arrow"></span>
                </span>
              </span>
              <span class="menu-icon">

                <i class="icon-placeholder mdi mdi-format-list-bulleted "></i>
              </span>
            </a>
            <!--submenu-->
            <ul class="sub-menu">
              <li class="menu-item">
                <a href="/light/datatable" class=" menu-link">
                  <span class="menu-label">
                    <span class="menu-name">Basic </span>
                  </span>
                  <span class="menu-icon">
                    <i class="icon-placeholder  ">
                      b
                    </i>
                  </span>
                </a>
              </li>
              <li class="menu-item">
                <a href="/light/datatable-height" class=" menu-link">
                  <span class="menu-label">
                    <span class="menu-name">Variable Height </span>
                  </span>
                  <span class="menu-icon">
                    <i class="icon-placeholder  ">
                      h
                    </i>
                  </span>
                </a>
              </li>
              <li class="menu-item">
                <a href="/light/datatable-multi" class=" menu-link">
                  <span class="menu-label">
                    <span class="menu-name">Multi select </span>
                  </span>
                  <span class="menu-icon">
                    <i class="icon-placeholder  ">
                      M
                    </i>
                  </span>
                </a>
              </li>

            </ul>
          </li>
        </ul>
      </li>

      <li class="menu-item ">
        <a href="#" class="open-dropdown menu-link">
          <span class="menu-label">
            <span class="menu-name">Maps
              <span class="menu-arrow"></span>
            </span>
          </span>
          <span class="menu-icon">
            <i class="icon-placeholder fe fe-map"></i>
          </span>
        </a>
        <!--submenu-->
        <ul class="sub-menu">

          <li class="menu-item">
            <a href="/light/mapael" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Vector Maps
                </span>
              </span>
              <span class="menu-icon">

                <i class="icon-placeholder mdi mdi-map-search-outline "></i>
              </span>
            </a>
          </li>
          <li class="menu-item">
            <a href="/light/google-maps" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Google Maps
                </span>
              </span>
              <span class="menu-icon">

                <i class="icon-placeholder mdi mdi-google"></i>
              </span>
            </a>
          </li>


        </ul>
      </li>
      <li class="menu-item ">
        <a href="#" class="open-dropdown menu-link">
          <span class="menu-label">
            <span class="menu-name">Calender
              <span class="menu-arrow"></span>
            </span>

          </span>
          <span class="menu-icon">
            <i class="icon-placeholder fe fe-calendar "></i>
          </span>
        </a>
        <!--submenu-->
        <ul class="sub-menu">

          <li class="menu-item">
            <a href="/light/calender" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Calender
                </span>
              </span>
              <span class="menu-icon">

                <i class="icon-placeholder mdi mdi-calendar "></i>
              </span>
            </a>
          </li>
          <li class="menu-item">
            <a href="/light/calender-create" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Calender Edit
                </span>
              </span>
              <span class="menu-icon">

                <i class="icon-placeholder mdi mdi-calendar-edit "></i>
              </span>
            </a>
          </li>


        </ul>
      </li>
      <li class="menu-item ">
        <a href="#" class="open-dropdown menu-link">
          <span class="menu-label">
            <span class="menu-name">Invoices
              <span class="menu-arrow"></span>
            </span>
          </span>
          <span class="menu-icon">
            <i class="icon-placeholder fe fe-dollar-sign "></i>
          </span>
        </a>
        <!--submenu-->
        <ul class="sub-menu">
          <li class="menu-item">
            <a href="/light/invoice" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Invoice View </span>
              </span>
              <span class="menu-icon">
                <i class="icon-placeholder  ">
                  I
                </i>
              </span>
            </a>
          </li>

          <li class="menu-item">
            <a href="/light/invoice-single" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Single Invoice </span>
              </span>
              <span class="menu-icon">
                <i class="icon-placeholder  ">
                  S
                </i>
              </span>
            </a>
          </li>
        </ul>
      </li>
      <li class="menu-item ">
        <a href="#" class="open-dropdown menu-link">
          <span class="menu-label">
            <span class="menu-name">Editors
              <span class="menu-arrow"></span>
            </span>
          </span>
          <span class="menu-icon">
            <i class="icon-placeholder fe fe-file-text "></i>
          </span>
        </a>
        <!--submenu-->
        <ul class="sub-menu">
          <li class="menu-item">
            <a href="/light/tinymce" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">TinyMCE </span>
              </span>
              <span class="menu-icon">
                <i class="icon-placeholder  ">
                  T
                </i>
              </span>
            </a>
          </li>

          <li class="menu-item">
            <a href="/light/summernote" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Summernote </span>
              </span>
              <span class="menu-icon">
                <i class="icon-placeholder  ">
                  S
                </i>
              </span>
            </a>
          </li>

          <li class="menu-item">
            <a href="/light/trumbowyg" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name"> Trumbowyg </span>
              </span>
              <span class="menu-icon">
                <i class="icon-placeholder  ">
                  T
                </i>
              </span>
            </a>
          </li>


        </ul>
      </li>
      <li class="menu-item">
        <a href="#" class="open-dropdown menu-link">
          <span class="menu-label">
            <span class="menu-name">Error Pages
              <span class="menu-arrow"></span>
            </span>
            <span class="menu-info">404,503 etc</span>
          </span>
          <span class="menu-icon">
            <i class="icon-placeholder mdi mdi-pac-man "></i>
          </span>
        </a>
        <!--submenu-->
        <ul class="sub-menu">
          <li class="menu-item">
            <a href="/light/404" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">404 </span>
              </span>
              <span class="menu-icon">
                <i class="icon-placeholder  ">
                  Er
                </i>
              </span>
            </a>
          </li>
          <li class="menu-item">
            <a href="/light/502" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">502 </span>
              </span>
              <span class="menu-icon">
                <i class="icon-placeholder  ">
                  Er
                </i>
              </span>
            </a>
          </li>
          <li class="menu-item">
            <a href="/light/503" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">503 </span>
              </span>
              <span class="menu-icon">
                <i class="icon-placeholder  ">
                  Er
                </i>
              </span>
            </a>
          </li>
          <li class="menu-item">
            <a href="/light/403" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">403 </span>
              </span>
              <span class="menu-icon">
                <i class="icon-placeholder  ">
                  Er
                </i>
              </span>
            </a>
          </li>
        </ul>
      </li>
      <li class="menu-item  ">
        <a href="#" class="open-dropdown menu-link">
          <span class="menu-label">
            <span class="menu-name">Emails
              <span class="menu-arrow"></span>
            </span>
            <span class="menu-info"> 🌈 New  </span>
          </span>
          <span class="menu-icon">

            <i class="icon-placeholder mdi mdi-mailbox-open-outline "></i>
          </span>
        </a>
        <!--submenu-->
        <ul class="sub-menu">

          <li class="menu-item ">
            <a href="/light/emails/confirm-mail" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Confirm Email</span>
              </span>
              <span class="menu-icon">
                <i class="icon-placeholder   ">
                  C
                </i>
              </span>
            </a>
          </li>
          <li class="menu-item ">
            <a href="/light/emails/password-reset" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Password Reset </span>
              </span>
              <span class="menu-icon">
                <i class="icon-placeholder   ">
                  P
                </i>
              </span>
            </a>
          </li>
          <li class="menu-item ">
            <a href="/light/emails/confirm-subscription" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Subscription Email</span>
              </span>
              <span class="menu-icon">
                <i class="icon-placeholder   ">
                  S
                </i>
              </span>
            </a>
          </li>
          <li class="menu-item ">
            <a href="/light/emails/message" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Notification</span>
              </span>
              <span class="menu-icon">
                <i class="icon-placeholder   ">
                  N
                </i>
              </span>
            </a>
          </li>
        </ul>
      </li>
      <li class="menu-item">
        <a href="#" class="open-dropdown menu-link">
          <span class="menu-label">
            <span class="menu-name">Forums
              <span class="menu-arrow"></span>
            </span>
          </span>
          <span class="menu-icon">
            <i class="icon-placeholder mdi mdi-chat "></i>
          </span>
        </a>
        <!--submenu-->
        <ul class="sub-menu">
          <li class="menu-item">
            <a href="/light/forum-home" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Forum Home </span>
              </span>
              <span class="menu-icon">
                <i class="icon-placeholder  ">
                  <i class="icon mdi mdi-chat"></i>
                </i>
              </span>
            </a>
          </li>
          <li class="menu-item">
            <a href="/light/forum-thread" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Forum Thread </span>
              </span>
              <span class="menu-icon">
                <i class="icon-placeholder  ">
                  <i class="icon mdi mdi-message-reply"></i>
                </i>
              </span>
            </a>
          </li>
          <li class="menu-item">
            <a href="/light/forum-discussion" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Discussion </span>
              </span>
              <span class="menu-icon">
                <i class="icon-placeholder  ">
                  <i class="icon mdi mdi-message-bulleted"></i>
                </i>
              </span>
            </a>
          </li>

        </ul>
      </li>
      <li class="menu-item ">
        <a href="#" class="open-dropdown menu-link">
          <span class="menu-label">
            <span class="menu-name">Menus
              <span class="menu-arrow"></span>
            </span>
            <span class="menu-info">Contains submenu</span>
          </span>
          <span class="menu-icon">
            <i class="icon-placeholder fe fe-bookmark "></i>
          </span>
        </a>
        <!--submenu-->
        <ul class="sub-menu">
          <li class="menu-item">
            <a href="#" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Menu Level </span>
                <span class="menu-info">500 New Events</span>
              </span>
              <span class="menu-icon">
                <i class="icon-placeholder  ">
                  Sb
                </i>
              </span>
            </a>

          </li>
          <li class="menu-item">
            <a href="#" class="open-dropdown menu-link">
              <span class="menu-label">
                <span class="menu-name">Menus
                  <span class="menu-arrow"></span>
                </span>
                <span class="menu-info">Contains submenu</span>
              </span>
              <span class="menu-icon">
                <i class="icon-placeholder mdi mdi-link-variant "></i>
              </span>
            </a>
            <!--submenu-->
            <ul class="sub-menu">
              <li class="menu-item">
                <a href="#" class=" menu-link">
                  <span class="menu-label">
                    <span class="menu-name">Menu Level </span>
                    <span class="menu-info">500 New Events</span>
                  </span>
                  <span class="menu-icon">
                    <i class="icon-placeholder  ">
                      Sb
                    </i>
                  </span>
                </a>
              </li>

            </ul>
          </li>

        </ul>
      </li>
    </ul>

  </div><div class="scroll-element scroll-x scroll-scrolly_visible" style=""><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar" style="width: 0px;"></div></div></div><div class="scroll-element scroll-y scroll-scrolly_visible" style=""><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar" style="height: 881px; top: 0px;"></div></div></div></div>

</aside>