<aside class="admin-sidebar">
  <div class="admin-sidebar-brand text-center">
    <%= image_tag 'logo.png', class:'admin-brand-logo ', width: 80 %>
  </div>

  <div class="scroll-wrapper admin-sidebar-wrapper js-scrollbar" style="position: relative;"><div class="admin-sidebar-wrapper js-scrollbar scroll-content scroll-scrolly_visible" style="height: auto; margin-bottom: 0px; margin-right: 0px; max-height: 943px;">
    <ul class="menu">
      <li class="menu-item ">
          <a href="/" class="menu-link">
          <span class="menu-label">
            <span class="menu-name">Dashboard
            </span>
          </span>
          <span class="menu-icon">
            <i class="icon-placeholder mdi mdi-monitor-dashboard"></i>
          </span>
        </a>
      </li>

      <li class="menu-item ">
          <a href="/invitations" class="menu-link">
          <span class="menu-label">
            <span class="menu-name">Convites
            </span>
          </span>
          <span class="menu-icon">
           <i class="icon-placeholder mdi mdi-notification-clear-all"></i>
          </span>
        </a>
      </li>
      <li class="menu-item ">
          <a href="/events/new" class="menu-link">
          <span class="menu-label">
            <span class="menu-name">Novo evento
            </span>
          </span>
          <span class="menu-icon">
          <i class=" icon-placeholder mdi mdi-diamond-stone"></i>
          </span>
        </a>
      </li>
      <li class="menu-item">
        <a href="#" class="open-dropdown menu-link">
          <span class="menu-label">
            <span class="menu-name">Item
              <span class="menu-arrow"></span>
              </span>
              <span class="menu-info"></span>
              </span>
              <span class="menu-icon">
                <i class="icon-placeholder mdi mdi-hanger"></i>
              </span>
        </a>
        <!--submenu-->
        <ul class="sub-menu">
          <li class="menu-item">
            <a href="/items" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Lista </span>
              </span>
              <span class="menu-icon">

                <i class="icon-placeholder mdi mdi-format-list-bulleted ">
                </i>
              </span>
            </a>
          </li>
            <li class="menu-item">
            <a href="/items/new" class=" menu-link">
              <span class="menu-label">
                <span class="menu-name">Novo </span>
              </span>
              <span class="menu-icon">
                <i class="icon-placeholder mdi mdi-plus  ">
                </i>
              </span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div><div class="scroll-element scroll-x scroll-scrolly_visible" style=""><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar" style="width: 0px;"></div></div></div><div class="scroll-element scroll-y scroll-scrolly_visible" style=""><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar" style="height: 881px; top: 0px;"></div></div></div></div>
</aside>