<%= form_with(model: event, local: true, class:'form-dark') do |form| %>
  <div class="form-row">
    <div class="form-group  col-md-12">
      <%= form.label :description %>
      <%= form.text_field :description, class:'form-control form-control-lg' %>
    </div>
  </div>
  <div class="text-center">
    <%= form.submit 'Criar evento', class:'btn btn-lg m-b-15 ml-2 mr-2 btn-success' %>
  </div>
<% end %>
