
<div class="container p-t-100 p-b-50  m-b-30">
  <div class="row">
    <div class="col-lg-12">
      <div class="card m-b-30 bg-dark text-white">
        <div class="card-body ">
          <%= render 'form', event: @event %>
        </div>
      </div>
    </div>
  </div>
</div>
