<%= form_with(model: invitation, local: true) do |form| %>
<div class="form-group">
  <div class="input-group input-group-flush mb-3">
    <%= form.select :user_id, @users.collect { |u| [u.name, u.id] }, {:prompt => 'Selecione o convidado'},class:'form-control form-control-prepended select2'%>
     <div class="input-group-prepend">
      <div class="input-group-text">
        <span class=" mdi mdi-account "></span>
      </div>
    </div>
  </div>

  <div class="input-group input-group-flush mb-4">
    <%= form.select :event_id, @events.collect { |e| [e.description, e.id] },  {:prompt => 'Selecione o evento'},class:'form-control form-control-prepended select2' %>
      <div class="input-group-prepend">
        <div class="input-group-text">
          <span class="mdi mdi-diamond-stone"></span>
        </div>
      </div>
  </div>

  <div class="form-group">
    <%= form.submit 'Enviar', class:'btn text-uppercase btn-block  btn-primary' %>
  </div>
</div>
<% end %>

