<section class="admin-content " id="contact-search">
  <div class="bg-dark m-b-30">
    <div class="container">
      <div class="row p-b-60 p-t-60">

        <div class="col-md-6 text-center mx-auto text-white p-b-30">
          <h1>Convites </h1>
          <div class="form-dark">
            <div class="input-group input-group-flush mb-3">
              <input placeholder="Busque por convites" type="search"
                class="form-control form-control-lg search form-control-prepended">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="mdi mdi-magnify"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="container pull-up">
      <div class="row  m-b-90">
      <% @invitations.each do |invitation|%>
        <div class="col-lg-4 ">
        <%= link_to  invitation_path(invitation.id), class:'card shadow-lg guide-event ' do%>
          <div class="card-body text-dark">
            <h4 class="card-title">
                <%= invitation.event.user.name %> quer convida voçê para este evento, <%= invitation.event.description%>
            </h4>
            <p>Data do evento: <%= invitation.event.data_event%>
          </div>
            <% end %>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>
</section>